
<div class="message-bubble">
  <div class="bubble">
    <div class="details">
      Reserve Bot
      <div class="date">
        21:10 PM
      </div>
    </div>
    <div class="message">
      Hello
    </div>
  </div>
</div>

<div class="message-bubble">
  <div class="bubble">
    <div class="details">
      Reserve Bot
      <div class="date">
        21:10 PM
      </div>
    </div>
    <div class="message">
      Hello
    </div>
  </div>
</div>



<div class="message-bubble mine">
  <div class="bubble mine">
    <div class="details">
      Reserve Bot
      <div class="date">
        21:10 PM
      </div>
    </div>
    <div class="message mine">
      Hello
    </div>
  </div>
</div>
<div class="message-seen">
  <div>Seen at 10:23 PM</div>
</div>



