.chat {
  display: flex;


  .main-box {
    flex-grow: 2;
    background: #d7dfe7;
    display: flex;
    flex-direction: column;
  }

  .contacts-box {
    width: 330px;
    flex-shrink: 0;
    background: white;
  }

  .chat-messages {

  }

  .chat-form {
    padding: 10px 12px;

  }

}
