<div class="tabs">
  <div class="tab"
       [ngClass]="{'active': onlineOnly}"
       (click)="onlineOnly = true"
  >
    Online
  </div>
  <div class="tab"
       [ngClass]="{'active': !onlineOnly}"
       (click)="onlineOnly = false"
  >
    All
  </div>
</div>

<div class="contacts-data">
  <ng-container *ngFor="let contact of contacts | searching: searchTerm | onlines: onlineOnly; trackBy: trackByFn">
    <app-contact
      [data]="contact"
      (activate)="makeActive($event)"
      *ngIf="contact._id != profileId()"
    ></app-contact>
  </ng-container>
</div>

<app-search-box
  (searching)="searchBox($event)"
></app-search-box>

