
<div
  #chatEl
  class="chat-messages-box"
  infiniteScroll
  [scrollWindow]="false"
  [infiniteScrollUpDistance]="5.5"
  [infiniteScrollThrottle]="10"
  (scrolledUp)="onScroll()">

  <ng-container *ngFor="let messages of chatMessages; trackBy: trackByFn">
    <ng-container *ngIf="messages.chatId == chatID">
      <ng-container *ngFor="let bubble of messages.data">
        <app-chat-bubble
          [message]="bubble"
          [uid]="myId"
        ></app-chat-bubble>
      </ng-container>
    </ng-container>
  </ng-container>

</div>
