
<app-chat-form-typing
  [contact]="contact"
></app-chat-form-typing>

<form novalidate (submit)="send()">
  <div class="chat-form">
    <div class="message-input">
      <input
        type="text"
        class="text-form"
        [placeholder]="isLoggedIn() ? 'Your message...' : 'Sign in to write messages'"
        [disabled]="!isLoggedIn()"
        (keydown)="typing.next($event.target.value)"
        #message
      />
    </div>
    <div class="message-button">
      <input
        type="submit"
        class="form-button"
        value="Send message"
        [disabled]="!isLoggedIn()"
      >
    </div>
  </div>
</form>
